/* css/home.css */
body {
    background-color: white; /* Cor de fundo padrão */
}

@media (max-width: 600px) {
    body {
        background-color: white; /* Cor de fundo para dispositivos móveis */
    }

    #desktop-menu {
        display: none; /* Esconder o menu de desktop em telas menores */
    }

    #mobile-menu {
        display: block; /* Mostrar o menu móvel em telas menores */
    }
}
